# Ignore everything
*
# But not directories – this is necessary so that Git can traverse your folder structure
!*/

# Ignore build output directory
/build
/logs
/.theia

# Un-ignore the file types you want to add
!/*/*.cpp
!/*/*.h
!/*/*.cfg
!/*/vitis-comp.json
!/*/.gitignore

# Path variable
/lib/path.h
